@use "./animations";
@use "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tillana", cursive;
  // background-image: url("/src/image/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px) brightness(60%);
  width: 100%;
  min-height: 200vh;
  color: variable.$white;
  position: relative;
}

a {
  text-decoration: none;
  color: variable.$white;
  display: inline-block;
  position: relative;
}

ul,
li,
ol {
  list-style: none;
}

span {
  display: inline-block;
}

// Animation
@include animations.keyframe(background_fade_in) {
  0% {
    backdrop-filter: blur(10px) brightness(0%);
  }

  100% {
    backdrop-filter: blur(10px) brightness(60%);
  }
}
