@use "../common/variable";

.hamburger {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  .line-left {
    width: 1.25rem;
    height: 3px;
    background-color: variable.$white;
    position: absolute;
    left: 0;

    .open {
      display: none;
    }

    &::before {
      @extend .line-left;
      content: "";
      position: absolute;
      bottom: 10px;
    }

    &::after {
      @extend .line-left;
      content: "";
      position: absolute;
      top: 10px;
    }
  }

  .line-right {
    position: absolute;
    right: 0;
    width: 1.25rem;
    height: 3px;
    background-color: variable.$white;

    &::before {
      @extend .line-right;
      content: "";
      position: absolute;
      bottom: 10px;
    }

    &::after {
      @extend .line-right;
      content: "";
      position: absolute;
      top: 10px;
    }
  }
}
